body {
    font-family: 'Varela Round', sans-serif;
}

table {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    text-align: center;
    margin: 0 auto;
}


th {
    background-color: #ea6153;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-bottom: 1px black;
}

th a {
    color:white;
    text-decoration: none;
}

tr {
    background-color: #f1f1f1;
}

td {
    padding: 5px;
}


.editar-button{
    margin-left: 10px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/1159/1159633.png');
    background-repeat:no-repeat;
    height:40px;
    width:40px;
    border: none;
    background-size: 25px 25px;
    background-position:center;
    cursor: pointer;
}

.editar-button:hover{
    background-size: 30px 30px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/1159/1159876.png');
}

.borrar-button{
    margin-left: 10px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/1828/1828947.png');
    background-repeat:no-repeat;
    height:40px;
    width:40px;
    border: none;
    background-size: 25px 25px;
    background-position:center;
    cursor: pointer;
}

.borrar-button:hover{
    background-size: 30px 30px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/1828/1828851.png');
}

.menu a:hover{
    color: gray;
}

button {
    border-radius: 10px;
    border: none;
}

button:hover{
    cursor: pointer;
}

.pagination{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}
  
.wrapper{
    width:100%;
}
.menu{
    width:100%;
    text-transform:uppercase;
    font-size:12px;
    position:relative;
    z-index:999;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    float:left;
    list-style: none;
}
  
 .menu a{
      color:#444;
      font-weight:bold;
      text-decoration:none;
      display:block;
      padding:20px;
  }
  
 .menu li{
      float:left;
 }
  
 .menu a:hover{
      background:#eee !important;
      color:#ccc;
 } 